@import url("navigation.css");

html, body, .container {
    height: 100%;
    width: 100%;
}

.container {
    padding: 0;
	position: relative;
	top: 100px;
}

body{
	color: #444;
}
a{
	color:#000;
}

.splash {
    text-align: center;
    height: 100%;
    width: 100%;
    background: url("../images/clouds.jpg") no-repeat center center;
    display: inline-block;
}