@import url("navigation.css");
@import url("footer.css");

body{
	color: #444;
}

h1{
	color: #fff;
	font-size: 5rem;
	margin-top: 245px;
}

h2{
	color: #fff;
	font-size: 3rem;
	margin-top: 83px;
}
h3{
	margin-top: 102px;
}

a{
	color:#444;
}
a:hover{
	color: #CF006A;
	text-decoration: none;
}
p{
	margin: 25px 0;
}

.center{
	text-align: center;
}

.circle{
	background-image: url("../images/dotted_circle.png");
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 230px;
}

*[class^="prlx"] {
  position: absolute;
  width: 100%;
  top:0;
  left:0;
  z-index: -1;
}
.prlx-1{
	background: url('../../images/flower5.jpg');
	margin-top: 100px;
	height: 150%;
} 
.prlx-2{
	background: url('../../images/heath7.jpg');
	margin-top: 100px;
	height: 150%;
}
.prlx-1, .prlx-2{
	background-repeat: no-repeat;
	background-position:center center;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}
.section-one, .section-two, .section-three{
	position: relative;
	overflow: hidden;
}
.section-two, .section-three{
	min-height: 200px;
}
.section-one{
	min-height: 500px;
	background-color: rgba(4,4,4,0.5);
}
.section-three{
	background-color: rgba(4,4,4,0.5);
}

.top-buffer-small {
    margin-top: 10px;
}

.top-buffer-large {
    margin-top: 30px;
}


/* ----------------- BOOTSTRAP OVERWRITES----------------- */
.container{
	padding: 30px;
}