<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - P A R A L L A X - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<section class="section-one">
    <div class="prlx-1"></div>
    <div class="center"><h1>Verein</h1></div>
</section>

<section class="container section-two">
    <div class="col-xs-12 col-sm-4 center circle">
        <h3>Vorstand</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>Dieter Bruttel, Barbara Kieser, John Steggerda, Urs Hepp, Markus Eichhorn, Doris Benker, Thomas Bickel, Monika Haller Fischer, Helmut Lerzer, Dieter Steubing (v.l.n.r.)</p>
        <p><em>Präsidentin</em> Doris Benker</p>
        <p><em>Aktuar</em> Helmut Lerzer</p>
        <p><em>Quästor</em> Dieter Bruttel</p>
    </div>
</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - P A R A L L A X - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<section class="section-three">
    <div class="prlx-2"></div>
    <div class="center"><h2>integrieren</h2></div>
</section>

<section class="container section-two">
    <div class="col-xs-12 visible-xs center circle">
        <h3>Ziel &amp Zweck</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>Hauptzweck des Vereins ist die Unterstützung und Koordination aller Bestrebungen und Projekte zur gesellschaftlichen und beruflichen Integration von Menschen mit einer psychischen Krankheit oder Behinderung Der Verein leistet zudem finanzielle Unterstützung in individuellen Notlagen, für die kein anderer Kostenträger aufkommt.</p>
        <p>Der Verein anker schliesst mit den Projekten Versorgungslücken für psychisch Kranke im Aargau.</p>
    </div>
    <div class="hidden-xs col-sm-4 center circle">
        <h3>Ziel &amp Zweck</h3>
    </div>
</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - P A R A L L A X - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<section class="section-three">
    <div class="prlx-2"></div>
    <div class="center"><h2>unterstützen</h2></div>
</section>

<section class="container section-two">
    <div class="col-xs-12 col-sm-4 center circle">
        <h3>Geschichte</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>Der heutige Verein «anker» wird am 5. März 1878 als «Aargauischer Hülfsverein für arme Geisteskranke» gegründet Ziel: Menschen mit psychischer Behinderung bei der Bewältigung ihres Alltages finanziell unterstützen, ihre Interessen in der Öffentlichkeit vertreten und Freizeitaktivitäten in der Psychiatrischen Klinik Königsfelden fördern.</p>
        <p>Erst im Jahre 2006 wurde der Verein unter der Leitung von Reinhard Keller zum anker - Verein für psychisch Kranke Aargau umgetauft.</p>
    </div>
</section>