<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - P A R A L L A X - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<section class="section-one">
    <div class="prlx-1"></div>
    <div class="center"><h1>Projekte</h1></div>
</section>

<section class="container section-two">
    <div class="col-xs-12 col-sm-4 center circle">
        <h3>Arbeitscoach</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>Unser Angebot beinhaltet die vereinbarte, definierte und zeitlich unbefristete Begleitung am Arbeitsplatz für psychisch beeinträchtigte Menschen mit dem Ziel, die Arbeitsstelle zu erhalten oder nach dem Verlust der Arbeitsstelle schnellstmögliche Reintegration in den 1. Arbeitsmarkt. Dies setzt die Bereitschaft aller Beteiligten zur Fortsetzung, oder zur Anstellung unter speziellen Bedingungen, voraus.</p>
        <p>Der ArbeitsCoach unterstützt und berät in Fragen der Gesundheit/Krankheit, Belastbarkeit, Sozialrecht und Arbeitsrecht die involvierten Personen sowie das Arbeitsteam. Er kann in schwierigen Situationen am Arbeitsplatz durch den Klienten oder dessen Vorgesetzten beigezogen werden.</p>
    </div>
</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - P A R A L L A X - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<section class="section-three">
    <div class="prlx-2"></div>
    <div class="center"><h2>integrieren</h2></div>
</section>

<section class="container section-two">
    <div class="col-xs-12 visible-xs center circle">
        <h3>APIKA</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>Die im Jahr 2011 neu gestaltete Webseite Apika will alle Dienstleistungen für psychisch Kranke Menschen zusammenfassen. Ziel ist, im Sektor psychische Erkrankung und Behinderung zu einem Überblick der bestehenden Angebote im Kanton zu verhelfen.Betroffene, Angehörige und Fachpersonen profitieren von dieser Servicedienstleistung.</p>
        <p>Wenn Sie auf der Suche nach einem geeigneten Angebot für sich selbst oder andere sind, gehen Sie auf: www.apika.ch
        <br>
        Sie finden dort Angeboter aus den Bereichen Wohnen, Arbeit, Pflege und Beratung.

        <p>Alle Anbieter, die noch nicht Mitglied beim Netzwerk Apika sind, können sich auf der Homepage direkt anmelden, sofern die Aufnahmekriterien erfüllt werden.</p>
    </div>
    <div class="hidden-xs col-sm-4 center circle">
        <h3>APIKA</h3>
    </div>
</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - P A R A L L A X - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<section class="section-three">
    <div class="prlx-2"></div>
    <div class="center"><h2>unterstützen</h2></div>
</section>

<section class="container section-two">
    <div class="col-xs-12 col-sm-4 center circle">
        <h3>IGWG</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>Nach über 35 jährigem Bestehen der IGWG wurde das Projekt auf 31. Dezember 2013 beendet. Ein Teil der begleiteten Wohnplätze übernimmt die Pro Infirmis</p>
    </div>
</section>

<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<!-- - - - - - - - - - - - - P A R A L L A X - - - - - - - - -  -->
<!-- - - - - - - - - - - - - - - - - - - - - - - - - - - - - -  -->
<section class="section-three">
    <div class="prlx-2"></div>
    <div class="center"><h2>anstossen</h2></div>
</section>

<section class="container section-two">
    <div class="col-xs-12 visible-xs center circle">
        <h3>Forum Gesundheit</h3>
    </div>
    <div class="col-xs-12 col-sm-8">
        <p>anker beteiligt sich finanziell und personell an der Kommunikationsplattform «Gesundheit Aargau», die in Zusammenarbeit mit Aargauer Zeitung und den Kantonsspitalern Aarau und Baden, der PDAG und der Patientenstelle AG/SO wöchentlich erscheint.</p>
        <h4>Beiträge Gesundheit Aargau</h4>
        <h5>Kein Beistand gegen meinen Willen</h5>
        <p><a href="http://www.anker-aargau.ch/Portals/9/_pdf/ForumGesundheit/Ratgeber%2017%2012%20%20anker.pdf">Ratgeber</a> erschienen am 17. Dezember 2014/Aargauer Zeitung<p>
        <h5>Probleme am Arbeitsplatz - wer hilft</h5>
        <p><a href="http://www.anker-aargau.ch/Portals/9/_pdf/ForumGesundheit/RatgeberOktober.pdf">Ratgeber</a> erschienen am 22. Oktober 2014/Aargauer Zeitung<p>
        <h5>Lieber einmischen als schweigen</h5>
        <p><a href="http://www.anker-aargau.ch/Portals/9/6Fokus_13%20August_Anker.pdf">Ratgeber</a> erschienen am 13. August 2014/Aargauer Zeitung<p>
        <h5>Von wegen "Oh du Fröhliche...</h5>
        <p><a href="http://www.anker-aargau.ch/Portals/9/_pdf/ForumGesundheit/Ratgeber%2024%20%20Dez.pdf">Ratgeber</a> erschienen am 24. Dezember 2013/ Aargauer Zeitung<p>
    </div>
    <div class="hidden-xs col-sm-4 center circle">
        <h3>Forum Gesundheit</h3>
    </div>
    
</section>